.DS_Store
/node_modules
*-lock.*
*.lock
*.log

/dist
/build

dev.plan
dev.setup
*.binlog
.wrangler/
.prettierrc
*.plan

*~*/
__pycache__/
*./
.editorconfig
telegram_bot_api_working_dir/
.dev.vars
.dev.vars.*
.wrangler

dustbin.js

archive/
.vscode/*
!.vscode/launch.json
.*/
**/.*
**/*.db
*.db